* {
    box-sizing: border-box;
}

.box {
    background: black;
    color: blanchedalmond;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h2 {
    color: aliceblue;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(5, 60px);

    width: min-content;
    margin: 40px auto 0;
}

.cell {
    border-style: dotted;
    border-color: rgb(47, 160, 12);
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    border-radius: 0.6em;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}